.media {
	margin-top: 10px;
	padding: 4px;
	border-radius: 4px;
	background-color: #F9F9F9;
}

.media-body {
	padding-left: 10px;
}

.media-body p {
	margin: 0;
}

img.media-object {
	border-radius: 4px;
}

.buttons {
	z-index: 1;
	position: relative;
}
.notes {
	position: relative;
	top: -26px;
	margin-bottom: -26px;
}
