.drop-box {
    padding: 30px;
    text-align: center;
    border: 2px dashed #CCCCCC;
}

.drop-box h2 {
    margin: 0 0 10px;
}

.drop-box:hover {
    cursor: pointer;
}

.drop-box:hover * {
    color: #666;
}