<header class="hero-unit" id="banner">
  <div class="container">
    <img src="assets/images/2k.png" alt="VidProd Roolz">
  </div>
</header>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">File Renamer</h1>
			<form class="col-lg-5" name="renamerForm" ng-submit="renameFiles(renamerForm)">

				<!-- clear log -->
				<div class="form-group">
					<div class="btn btn-primary form-control" ng-click="clearLog()" ng-class="{disabled: log === ''}">Clear Log</div>
				</div>

				<!-- root dir -->
				<div class="form-group">
					<label for="rootDir" class="control-label">Root Directory</label>
					<div id="rootDir" class="input-group col-xs-12">
						<input type="text" class="form-control" placeholder="Starting folder" ng-model="rootDir" required>
					</div>
				</div>
				<!-- /root dir -->

				<!-- text in -->
				<div class="form-group">
					<label for="inText" class="control-label">Text In</label>
					<div id="inText" class="input-group col-xs-12">
						<input type="text" class="form-control" placeholder="String to search for" ng-model="inText" required>
					</div>
				</div>
				<!-- /text in -->

				<!-- text out -->
				<div class="form-group">
					<label for="outText" class="control-label">Text Out</label>
					<div id="outText" class="input-group col-xs-12">
						<input type="text" class="form-control" placeholder="String to replace with" ng-model="outText" required>
					</div>
				</div>
				<!-- /text out -->

				<!-- limit extension -->
				<div class="form-group">
					<label for="limitExt" class="control-label">Limit to extension</label>
					<div id="limitExt" class="input-group col-xs-12">
						<select class="form-control" ng-model="limitExt">
							<option value="none">(none)</option>
							<option ng-repeat="ext in extensions" value="{{ext}}">.{{ext}}</option>
						</select>
					</div>
				</div>
				<!-- limit extension -->

				<!-- rename dirs, root only -->
				<div class="form-group">
					<label class="checkbox-inline">
						<input type="checkbox" value="rootOnly" ng-model="rootOnly">
						Root folder only
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" value="renameDirs" ng-model="renameDirs">
						Rename directories
					</label>
				</div>
				<!-- /rename dirs, root only -->

				<button type="submit" class="btn btn-success btn-block">Rename</button>
			</form>

			<pre id="renamer-log" class="col-lg-7" ng-bind-html="log | logFilter"></pre>
		</div>
	</div>
</div>
